numpy==1.22.2
pandas==1.5.2
matplotlib==3.7.1
seaborn==0.12.2
lightning==2.0.6
torch==2.*
torchvision==0.16.*
torchmetrics==1.0.1
h5py==3.9.0
scipy==1.11.1
opencv-python==4.8.0.74
imageio==2.31.1
tqdm==4.65.0
wandb==0.15.7
